@media(max-width:1080px) {

    .hover p {
        font-size: 0.81em;
    }
}

@media (max-width:968px) {
    header {
        display: none;
    }

    .header1 {
        display: none;
    }

    .header2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: auto;
        background-color: #131921;
    }

    .searchbox {
        width: 95%;
        margin-bottom: 10px;
        margin-top: 5px;
    }
}

@media (min-width: 969px) {
    .header1 {
        margin-top: 62.3px;
        /* adjust to match the height of your fixed header */
    }
}

@media(max-width:860px) {
    .wrapper {
        display: none;
    }

    .wrapper2 {
        display: block;
        border: 1px solid black;
        width: 100%;
        height: auto;
        position: relative;
    }

    .imageslider2 {
        width: 100%;
        height: auto;
    }

    .imageslider2 img {
        width: 100%;
        height: auto;
        object-fit: contain;
        display: none;
    }


    .imageslider2 img.act {
        display: block;
    }

}

@media(max-width:1200px) {
    .text p {
        font-size: 0.9em;
    }
}

@media(max-width:1070px) {
    .text p {
        font-size: 0.8em;
    }
}

@media(max-width:950px) {
    .cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        place-items: center;
        margin: auto;
        align-items: stretch;
    }
    .foot2{
        display: grid;
        grid-template-columns: repeat(2, auto);
        margin: auto;
        justify-content: center;
        width: 100%;
        padding: 6% 20px;
        row-gap: 20px;
    }

    .cc {
        max-width: 500px;
        aspect-ratio: 4 / 5;
        width: 100%;
    }

    .text p {
        font-size: 1.24em;
    }
}

@media(max-width:830px){
    .text p{
        font-size: 1.03em;
    }
    .sidebar{
        width: 76%;
    }
}
@media(max-width:652px){
    .text p{
        font-size: 0.96em;
    }
    .foot4{
        display: grid;
        grid-template-columns: repeat(2, auto);
        margin: auto;
        justify-content: center;
        width: 100%;
        padding: 6% 20px;
        row-gap: 20px;
    }
    .sign-in p{
        font-size: 0.98em;
    }
    .sign-in h4{
        font-size: 0.88em;
    }
}

@media(max-width:575px) {
    .text p {
        font-size: 1.33em;
    }

    .cards {
        grid-template-columns: repeat(1, 1fr);
        align-items: stretch;
    }
    .cc {
        max-width: 500px;
        aspect-ratio: 4 / 5;
        width: 100%;
    }
    .text{
        width: 97%;
        height: 95%;
        justify-content: center;
        gap: 6%;
    }
    .foot2{
        padding: 10% 18px;
    }
    .f1 a{
        font-size: 0.80em;
        margin: 0 5px;
    }
    .mainslide p{
        font-size: 0.9em;
        margin-left: 10px;
    }
    .address p{
        font-size: 0.74em;
    }
}

@media(max-width:487px) {
    .text p{
        font-size: 1.1em;
    }
}

@media(max-width:375px) {
    .text p{
        font-size: 0.96em;
    }
    .f1 a{
        font-size: 0.76em;
        margin: 0 3.5px;
    }
}